@import "tailwindcss";

:root {
  --background: #101214;
  --foreground: #ffffff;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
